@page
@model IndexModel
@{
    ViewData["Title"] = "Naslovna";
}
<style>
    body {
        background-color: #FFFF00;
    }
</style>

<div class="text-center">
    <h1 class="display-4">eUčionica</h1>
    <p>Dobrodošli</p>
    <p>Podaci o <a href="/PredmetPages/Predmeti">Predmetima</a>.</p>
    <p>Podaci o <a href="/OblastPages/Oblasti">Oblastima</a>.</p>
    <p>Podaci o <a href="/ZadatakPages/Zadaci">Zadacima</a>.</p>
    <p>Podaci o <a href="/NivoTezinePages/NivoTezina">Težinama zadataka</a>.</p>
</div>
